<%- include("partials/header") %>

<h1 class="animate__animated animate__backInRight container text-center my-3 view-header">About</h1>

  <div class="about container text-center my-3">
      <h2>This is a <strong>Basic Banking System </strong>with dummy data in the database of 10 customers.</h2><br>
      <h4>It has no log-in or authentication page. It only transfers money between multiple users and updates the database accordingly.</h4>
      
      <div class="contaier about1 my-5 text-center">
        <div class="card cards" style="width: 18rem;">
          <div class="card-header">
            Technology Used
          </div>
          <ul class="list-group cards list-group-flush">
            <li class="cards list-group-item">Node js</li>
            <li class="cards list-group-item">Express</li>
            <li class="cards list-group-item">MogoDb</li>
            <li class="cards list-group-item">Ejs</li>
          </ul>
        </div>
        <div class="card cards" style="width: 18rem;">
          <div class="card-header">
            Styling tool
          </div>
          <ul class="list-group cards list-group-flush">
            <li class="cards list-group-item">External css</li>
            <li class="cards list-group-item">Bootstrap</li>
            <li class="cards list-group-item">Animate.css</li>
          </ul>
        </div>

      </div>
</div>
  

</div>
        
<%- include("partials/footer") %>
