<%- include("partials/header") %>

<div class ='container home text-center animate__animated animate__backInRight'>
	<div class ='content'>
	<h2 class='heading animate__animated animate__backInRight'>Online Money Transfer</h2>	 
	<p class="main-content animate__animated animate__backInRight">
    Transfer Your Money with ease!!!!!
    </p>
 <a href="/view"><button class='submit btn btn-warning'>Get Started</button></a>
</div>
</div>

<%- include("partials/footer") %>